name: Run pre-commit Check

# yamllint disable-line rule:truthy
on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6.1.0
      - uses: pre-commit/action@v3.0.1
